<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rr.chittagongdirectory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SklActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MarketActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ClgActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UniversityActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HospitalActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DiaActivity"
            android:parentActivityName=".MainActivity" />
        -->
        <activity
            android:name=".ResActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".TourActivity" android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>